{% extends 'base.html' %}
{% block con %}
    
    <h1><b>즐겨찾기 ✨</b></h1>

    <div class="text-end">
        <a class="btn btn-dark btn-lg" href="#">북마크생성</a>
    </div>

    <div class="row">
        
        <div class="col-lg-4 mt-5">
            <div class="card">
                <div class="card-body text-center" style="background-color: rgba(255, 8, 8, 0.202);">
                    <h3 class="card-title"><b>12</b></h3>
                    <p class="card-text">34</p>
                    <a href="23" target="_blank" class="btn btn-dark">사이트이동</a>
                </div>
            </div>
        </div>
        
    </div>


        
{% endblock %}